#pierres {
    padding: 60px 0;
  }
  
  .card {
    margin: 20px 0;
  }
  
  .card-title {
    font-family: 'Montserrat', sans-serif;
  }
  
  .card-text {
    font-family: 'Roboto', sans-serif;
  }
  